/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --small-size: 10px;
  --gap-size: 20px;
  --big-size: 40px;
  --min-margin-size: 10px;
  --font-main: 'IBM Plex mono';

  --bg-color-main: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color-accent: #ff8dcb;
  --color-inversed: #353430;
  --color-main: #353430;
  --color-accent: #353430;
  --page-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --shadow-color-link: #ff8dcb;
  --transparent-border-color: rgba(50, 49, 45, 0.40);    
}
