/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-size: 10px;
  --gap-size: 20px;
  --margin-size: 40px;
  --min-margin-size: 10px;
  --font-main: 'IBM Plex mono';

  --bg-color-main: #000028;
  --bg-color-accent: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --color-inversed: #000028;
  --color-main: #f1b2ce;
  --color-accent: #ff0070;
  --page-title-color: #DB00FF;
  --shadow-color: #ff0070;
  --shadow-color-link: #ff0070;
  --transparent-border-color: rgba(255, 0, 112, 0.40);
}
